[Unit]
Description=K2 Kettler Service
After=network.target

[Service]
WorkingDirectory=###BASE_DIRECTORY###
ExecStart=###BASE_DIRECTORY###/venv/bin/python -m services.kettler.__init__
KillMode=process
Restart=on-failure
NoNewPrivileges=true
User=###USERID###
Group=###GROUPID###

[Install]
WantedBy=multi-user.target