@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#KettlerStatus {
    box-sizing: border-box;
    width: 100%;
}

.YTContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

#YTTrainerStatus {
    box-sizing: border-box;
    width: 20%;
    font-size: 1.4vh;
}

#YouTube, #ytplayer {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

table.statusBar {
    width: 100%;
    color: white;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.8);
}

table.statusBar > thead > tr > td,
table.statusBar > tbody > tr > td {
    width: calc(100%/6);
    padding: 5px;
    font-size: 1.2em;
    text-align: center;
}

table.statusBar > thead {
    font-size: 1.3em;
    font-weight: 600;
}

.progress {
    height: 1.5em;
    width: 100%;
    position: relative;
    background-color: orange;
    margin-top: 2px;
    margin-bottom: 2px;
}
.progress .label {
    display: flex;
    position: absolute;
    top: 0.25em;
    left: 0;
    right: 0;
}

.progress .label > span {
    width: 100%;
    line-height: 1em;
    font-weight: bold;
    text-align: center;
}

.progress.inactive .value  {
    background-color: seagreen;
    display: inline-block;
    height: 100%;
}

.progress.active .value  {
    background-color: orangered;
    display: inline-block;
    height: 100%;
}